@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: oklch(0.205 0 0);
  --color-base-200: oklch(0.18 0 0);
  --color-base-300: oklch(0.145 0 0);
  --color-base-content: oklch(0.985 0 0);

  --color-primary: oklch(0.922 0 0);
  --color-primary-content: oklch(0.205 0 0);

  --color-secondary: oklch(0.269 0 0);
  --color-secondary-content: oklch(0.985 0 0);

  --color-accent: oklch(0.269 0 0);
  --color-accent-content: oklch(0.985 0 0);

  --color-neutral: oklch(0.205 0 0);
  --color-neutral-content: oklch(0.985 0 0);

  --color-info: oklch(0.696 0.17 162.48);
  --color-success: oklch(0.488 0.243 264.376);
  --color-warning: oklch(0.769 0.188 70.08);
  --color-error: oklch(0.704 0.191 22.216);

  --radius-box: 0.625rem;
  --radius-field: 0.5rem;
  --radius-selector: 0.375rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: true;
  color-scheme: light;

  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(0.97 0 0);
  --color-base-300: oklch(0.922 0 0);
  --color-base-content: oklch(0.145 0 0);

  --color-primary: oklch(0.205 0 0);
  --color-primary-content: oklch(0.985 0 0);

  --color-secondary: oklch(0.97 0 0);
  --color-secondary-content: oklch(0.205 0 0);

  --color-accent: oklch(0.97 0 0);
  --color-accent-content: oklch(0.205 0 0);

  --color-neutral: oklch(0.145 0 0);
  --color-neutral-content: oklch(0.985 0 0);

  --color-info: oklch(0.6 0.118 184.704);
  --color-success: oklch(0.646 0.222 41.116);
  --color-warning: oklch(0.828 0.189 84.429);
  --color-error: oklch(0.577 0.245 27.325);

  --radius-box: 0.625rem;
  --radius-field: 0.5rem;
  --radius-selector: 0.375rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root[data-theme='light'] {
  --logo-brightness: 1;
}

:root[data-theme='dark'] {
  --logo-brightness: 0;
}

::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
